@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body {
  background: $paleYellow;
  color: darken($darkGray, 20);
}
i {
  margin-right: 10px;
}