
// color palette
$lightGray   : #819090;
$gray        : #708284;
$mediumGray  : #536870;
$darkGray    : #475862;
$darkBlue    : #0A2933;
$darkerBlue  : #042029;
$paleYellow  : #EAE3CB;
$palerYellow : #FCF4DC;
$yellow      : #A57706;
$orange      : #BD3613;
$red         : #D11C24;
$pink        : #C61C6F;
$purple      : #595AB7;
$blue        : #2176C7;
$cyan        : #259286;
$green       : #738A05;

// fonts
$font-primary   : Bree, serif;
$font-secondary : Bree Serif, serif;
