body {
  background-color: #f2f2f2;
  padding: 20px; }

h1 {
  color: magenta; }

.warning {
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  background-color: #ff5c5c;
  color: white;
  text-align: center; }
